    
        	<div class="help_lib">
            	<div class="help_cats clearfix">
 
                </div>
            </div>
 	
</div>
<div class="blank"></div>
<div style="text-align:center"></div>
<div class="page_footer block">
	<div class="foot_nav">
    	<div class="block">
             	<div class="nav_list">
                        <a href="#" style="padding:0 3px 0 5px">隱私保護</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">公司簡介</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">聯繫我们</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">在線客服</a>  

				    
                          |
                                    <a href="#" style="padding:0 3px 0 5px">團購優惠</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">配送方式</a>  
            
            
                         


</div></div></div></div>