<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加分類 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./styles/general.css" rel="stylesheet" type="text/css" />
<link href="./styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="#">商品分類</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加分類 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
  <form action="cateditAct.php" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">分類名稱:</td>
        <td>
          <input type='text' name='cat_name' maxlength="20" value="<?php echo $catinfo['cat_name']; ?>" size='27' /> <font color="red">*</font>
        </td>
      </tr>
      <tr>
        <td class="label">上级分類:</td>
		<td>
			<select name="parent_id">
                        <option value="0">頂級分類</option>
						<?php foreach($catelist as $k){ ?>
							<option value="<?php echo $k['cat_id']; ?>" 
							<?php echo $k['cat_id'] == $catinfo['parent_id'] ? "selected" : ''; ?>>
								<?php echo str_repeat('&nbsp;&nbsp;',$k['lev']),$k['cat_name']; ?>
							</option>
						<?php } ?>
			</select>
        </td>
		
      </tr>
      <tr>
        <td class="label">分類描述:</td>
        <td>
          <textarea name='intro' rows="6" cols="48" ><?php echo $catinfo['intro']; ?></textarea>
        </td>
      </tr>
      </table>
      <div class="button-div">
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
	  <input type='hidden' name='cat_id' value='<?php echo $catinfo['cat_id']; ?>'/>
  </form>
</div>

<div id="footer">
服飾的後台商品管理
<br />
顯示商品資料。

</body>
</html>