<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 商品分類 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./styles/general.css" rel="stylesheet" type="text/css" />
<link href="./styles/main.css" rel="stylesheet" type="text/css" />
<script type = 'text/javascript' src = '/app/view/js/jquery-1.4.2.min.js'></script>
</head>
<body>

<h1>
<span class="action-span"><a href="cateadd.php">添加分類</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品分類 </span>
<div style="clear:both"></div>
</h1>
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">

<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
  <tr>
    <th>分類名稱</th>

    <th>操作</th>
  </tr>
  <?php foreach($catlist as $k){ ?>
  <tr align="center" class="0" id="0_1" id = 'tr_1'>
    <td align="left" class="first-cell" style = 'padding-left="0"'>
            <img src="../images/menu_minus.gif" id="icon_0_1" width="9" height="9" border="0" 
			style="margin-left:<?php echo $k['lev'] ?>em" />

            <span><a href="#" ><?php echo $k['cat_name']; ?></a></span>
    </td>
    <td width="24%" align="center">
      <a href="catedit.php?cat_id=<?php echo $k['cat_id'] ?>" title="編輯">编辑</a> |
      <a href="catedel.php?cat_id=<?php echo $k['cat_id']; ?>" title="移除">移除</a>
    </td>
  </tr>
  <?php } ?> 
  </table>
</div>
</form>

<div id="footer">
服飾的後台商品管理<br />
顯示商品資料。</div>

</body>
</html>